* {
  margin: 0;
}

.parent {
  border: 5px solid red;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 200px;
}

.parent :nth-child(2n + 1) {
  border: 2px solid blue;
  width: 100px;
  height: 100px;
}
