input {
    display: block;
}
.calc {
    padding: 20px;
    width: 400px;
    height: max-content;
    margin: auto;
    border-radius: 10px;
    border: 1px solid black;
}
.calc input, .calc select{
    padding: 10px;
    width: 90%;
    margin: 10px 0;
}
.calc button {
    padding: 10px;
    width: 100%;
}